button {
  border: none;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 10px 16px;
  font-size: 18px;
}
input {
  border: solid 1px #262626;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 10px 16px;
  font-size: 18px;
}
ul {
  list-style: none;
  font-size: 1.5rem;
}

.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
}
.App-header,
.App-main,
.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-header {
  background-color: #282c34;
  height: 5vh;
  color: white;
}
.App-main {
  background-color: #ffffff;
  min-height: 90vh;
  color: #262622;
}
.App-footer {
  background-color: #262626;
  height: 5vh;
  color: #ffffff;
  font-weight: 200;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
